.blog {
  margin: 2.5%;
}

.blog-container {
  max-width: 800px;
  margin: 0 auto;
}

.blog-post {
  margin: 2em 0;
  border-radius: .25em;
  border-bottom: 1px solid #e2e2e2;
}

.title {
  margin: 0;
  font-size: 1.8rem;
  color: #1695a3;
}

.date {
  padding: 0;
  margin: 0 0 1.6em;
}

.content {
  margin-top: 20px;
  font-weight: normal;
}

.link {
  color: #586e75;
}