.faq {
  padding: 0 10px;
}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
}

.panel-container > .panel + .panel {
  margin-top: 15px;
}

.panel {
  // background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 0.1875em;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #659DBF;
  border-color: #659DBF;
  border-top-left-radius: 0.1875em;
  border-top-right-radius: 0.1875em;
  position: relative;
  transition: background .25s linear;
}

.panel-header > h4 {
  margin: 0;
}

.panel-header > h4 > a {
  position: relative;
  display: block;
  color: #FBEFE3;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 15px 50px 15px 15px;
}

.panel-body {
  // height: 0;
  overflow: hidden;
  transition: 0.3s height 0.2s;
}

.panel-body-container {
  padding: 15px;
}

.arrow {
  margin: 15px;
  font-size: 1.7rem;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 5px;
  opacity: .5;
  transform: rotate(-135deg);
  transition: all 0.15s linear;
}

.panel.is-open .arrow {
  margin-top: 8px;
  transform: rotate(-315deg);
  transform-origin: center center;
}