/* ---------------------------------------------------------------------------
             FILE: hero.module.scss
      DESCRIPTION: Hero styles
           AUTHOR: Zoltán Király <zoliky@gmail.com>
----------------------------------------------------------------------------*/

.hero {
  background: #1695a3;
  min-height: 100vh;
  padding: 0 2.5%;
}

.hero-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.hero-text {
  $color: #fff;

  position: absolute;
  color: $color;
  width: 100%;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);

  h2 {
    font-size: 3em;
    text-align: center;
    color: $color;
    font-family: 'Montserrat', sans-serif;
  }

  p {
    font-size: 1.3rem;
    color: $color;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }
}

.arrow {
  position: absolute;
  z-index: 5000;
  width: 100%;
  bottom: 0;
  left: 50%;
  padding: 3em 0 2em;
  transform: translateX(-50%);
}